<div class="d-flex flex-row-reverse">
  <mat-icon class="cursor-pointer" (click)="onCancel()">close</mat-icon>
</div>
<div class="p-4" [innerHtml]="data">

</div>

<div class="d-flex mt-4 flex-row-reverse mt-5">
  <button class="btn btn-primary" (click)="onSave()">Salvati</button>
  <button class="btn btn-danger mr-2" (click)="onCancel()">Inchide</button>
</div>
<!-- <div class="d-flex flex-row-reverse">
  <button class="btn btn-primary">Ok</button>
</div> -->
