<app-dash-header></app-dash-header>

<div class="container-fluid">
  <div class="d-flex flex-row-reverse mt-5">
    <button
      class="d-flex align-items-center btn btn-primary text-white flex items-center px-4 py-2"
      [routerLink]="['/dashboard/para']"
      routerLinkActive="router-link-active"
    >
      <mat-icon class="text-white">add</mat-icon>
      <span class="text-white uppercase font-semibold"> Add</span>
    </button>
    <button
      class="d-flex align-items-center btn btn-primary text-white flex items-center px-4 py-2 mr-2"
      (click)="SyncData()"
    >
      <mat-icon class="text-white">sync</mat-icon>
      <span class="text-white uppercase font-semibold"> Sync</span>
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <mat-progress-spinner
      *ngIf="loadCounter > 0"
      mode="indeterminate"
      [diameter]="32"
      [strokeWidth]="8"
    ></mat-progress-spinner>
  </div>
  <div class="d-flex mt-3" *ngIf="loadCounter === 0">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">OCPI</th>
          <th scope="col">BCPI</th>
          <th scope="col">Anul</th>
          <th scope="col">NumarCerereOCPI</th>
          <th scope="col">StareCurenta</th>
          <th scope="col">NumarLucrare</th>
          <th scope="col">Proprietar</th>
          <th scope="col">UAT</th>
          <th scope="col">Adresa</th>
          <th scope="col">TipulLucrarii</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of USER_DATA; let i = index">
          <td (click)="ViewData(user)">{{ user[13] }}</td>
          <td (click)="ViewData(user)">{{ user[14] }}</td>
          <td (click)="ViewData(user)">{{ user[15] }}</td>
          <td (click)="ViewData(user)">{{ user[16] }}</td>
          <td (click)="ViewData(user)">{{ user[20] }}</td>
          <td (click)="ViewData(user)">{{ user[0] }}</td>
          <td (click)="ViewData(user)">{{ user[3] }}</td>
          <td (click)="ViewData(user)">{{ user[5] }}</td>
          <td (click)="ViewData(user)">{{ user[6] }}</td>
          <td (click)="ViewData(user)">{{ user[19] }}</td>
          <td>
            <div class="d-flex justify-content-center align-items-center">
              <mat-icon class="cursor-pointer" (click)="EditRow(user, i)"
                >edit</mat-icon
              >
              <mat-icon class="cursor-pointer" (click)="DeleteRow(i)"
                >delete</mat-icon
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      style="overflow-x: auto"
    >
      <ng-container matColumnDef="NumarLucrare">
        <th mat-header-cell *matHeaderCellDef>NumarLucrare</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">{{ element[0] }}</td>
      </ng-container>
      <ng-container matColumnDef="Proprietar">
        <th mat-header-cell *matHeaderCellDef>Proprietar</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">
          {{ element[3] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="UAT">
        <th mat-header-cell *matHeaderCellDef>UAT</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">{{ element[5] }}</td>
      </ng-container>

      <ng-container matColumnDef="Adresa">
        <th mat-header-cell *matHeaderCellDef>Adresa</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">{{ element[6] }}</td>
      </ng-container>

      <ng-container matColumnDef="OCPI">
        <th mat-header-cell *matHeaderCellDef>OCPI</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">{{ element[13] }}</td>
      </ng-container>

      <ng-container matColumnDef="BCPI">
        <th mat-header-cell *matHeaderCellDef>BCPI</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">{{ element[14] }}</td>
      </ng-container>

      <ng-container matColumnDef="Anul">
        <th mat-header-cell *matHeaderCellDef>Anul</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">
          {{ element[15] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="NumarCerereOCPI">
        <th mat-header-cell *matHeaderCellDef>NumarCerereOCPI</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">{{ element[16] }}</td>
      </ng-container>

      <ng-container matColumnDef="TipulLucrarii">
        <th mat-header-cell *matHeaderCellDef>TipulLucrarii</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">
          {{ element[19] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="StareCurenta">
        <th mat-header-cell *matHeaderCellDef>StareCurenta</th>
        <td mat-cell *matCellDef="let element" (click)="ViewData(element)">{{ element[20] }}</td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <div class="d-flex justify-content-center align-items-center">
            <mat-icon class="cursor-pointer" (click)="EditRow(element, i)"
              >edit</mat-icon
            >
            <mat-icon class="cursor-pointer" (click)="DeleteRow(i)"
              >delete</mat-icon
            >
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *ngIf="loadCounter === 0 && USER_DATA.length === 0">
        <td class="mat-cell" colspan="22">No Data Found</td>
      </tr>
    </table> -->
  </div>
</div>
